---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="generator" content={Astro.generator} />
    <script defer src="src/script.js"></script>
    <link rel="manifest" href="manifest.json" />
    <title>Astro</title>
  </head>
  <body>
    <div class="container carousel rounded-box">
      <!-- Template -->
      <!-- <div class="carousel-item">
        <img
          src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg"
          alt="Burger"
        />
      </div> -->
    </div>
  </body>
</html>
